header {
    background-color: black;
    background-image: url("../img/professional-programmer-working-late-dark-office-2.jpg");
    background-size:cover;
    background-attachment:fixed;
    color: white;
    padding:6em 1em;
    text-align: center;

    h1 {
        font-weight: normal;
        font-size: 4em;
        margin-top: 0;
    }
    span {
        font-weight: normal;
        display: block;
        font-size: 0.4em;
    }
    nav {
        ul {
            font-size: 1.2em;
            display: table;
            list-style: none;
            margin: 0 auto;

            li {
                float: left;
            }
            li::after {
                content: '|';
                padding: 0 0.3em;
            }
            li:last-child::after {
                content: '';
            }
        }
    }
}
a.freepick-link {
    color:white;
    font-size: 0.7em;
    text-decoration: none;
}

/* Homepage main */
main {
    section {
        max-width: 1200px;
        margin: 0 auto;
    }
    h2 {
        font-size: 2em;
        font-weight: normal;
        text-align: center;
    }
}

#study-order {
    article {
        max-width: 900px;
        margin: 4em auto;
        padding: 2em;
        border: solid 1px $secondary-color;
        transition: all ease-in 0.3s;

        :hover,
        :focus {
            border-color: $primary-color;
        }

        :hover .icon,
        :focus .icon {
            color: $primary-color;
        }

        :hover h3,
        :focus h3 {
            color: $primary-color;
        }
        p:last-child {
            text-align: right;
            line-height: 1.5em;
        }
    }

    .icon {
        font-size: 4em;
        color: $secondary-color;
        transition: all ease-in 0.3s;
    }

    h3 {
        font-size: 1.4em;
        font-weight: normal;
        color: $secondary-color;
        transition: all ease-in 0.3s;
    }

    .grid-wrapper{
        grid-template-columns: 1fr 5fr;
    }
}

#start-education-today {
    color: white;
    background-color: black;
    background-image: url("../img/saas-concept-collage-2.jpg");
    background-size: cover;
    background-attachment:fixed;
    padding: 0;

    >div {
        background: rgba(0,  0, 0, 0.5);
        width: 100%;
        margin:0;
    }
    .grid-wrapper {
        margin: 0;
        padding: 4em 0;
        grid-template-columns: 2fr 1fr;
        max-width: 900px;
        margin: 0 auto;
        align-items: center;
    }

    h3 {
        font-size: 2em;
        font-weight: normal;
    }
    p {
        font-size: 1.5em;
        font-weight: normal;
    }
}

#what-do-we-study {
    .grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    article {
        padding: 2em 0 3em 0;
    }
    h3 {
        font-size: 2em;
        font-weight: normal;
        text-align: center;
    }
    ul {
        list-style: none;
    }
    li {
        border: solid #333 1px;
        border-radius: 20px;
        width: auto;
        display: block;
        float: left;
        margin: 5px 2px;
        padding: 5px 10px;
    }
    aside {
        background-image: url("../img/business-serious-manager-working-laptop-standing.jpg");
        background-size: cover;
        background-position: center center;
    }
}

#promo-block-2 {
    background-color: black;
    background-image: url('../img/hologram-projector-screen-with-cloud-system-technology-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;

    >div {
        background: rgba(0,  0, 0, 0.5);
        margin: 0;
        padding: 0;
    }
    section {
        padding: 4em 0;
        margin: 0 auto;
        max-width: 900px;
    }
    .grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    h3 {
        font-size: 2em;
        font-weight: normal;
        margin: 0.5em 0;
    }
    h4 {
        font-size: 1.5em;
        font-weight: normal;
        margin: 0.5em 0;
    }
}

#lessons-gallery {
    h2 {
        margin: 1em 0;
    }
    .grid-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 3em;
        row-gap: 3em;
    }
    figure{
        max-width: 300px;
        margin: 0 auto;
    }
    img {
        max-width: 300px;
        margin-bottom: 1em;
    }
}
/* --Homepage main */

@media (max-width:1150px) {
    #lessons-gallery .grid-wrapper {
        grid-template-columns: 1fr 1fr;
        align-items:stretch;
    }
}
@media (max-width:700px) {    
    #study-order {
        .icon {
            font-size: 2em;
        }
        .grid-wrapper>div:first-child {
            margin-top:1em;
        }
        article {
            margin:0;
            border-bottom-width:0;
        }
    }
}
@media (max-width:600px) {
    header {
        h1 {
            font-size: 2.5em;

            span {
                margin-top: 1em;
            }
        }
        nav ul {
            li {
               float: none;
            }
            li::after {
                content: '';
            }
        }
    }

    #lessons-gallery .grid-wrapper {
        grid-template-columns: 1fr;
        align-items:stretch;
    }

    #what-do-we-study {
        .grid-wrapper {
            grid-template-columns: 1fr;
        }   
        aside {
            display: none;
        }
    }

    #start-education-today .grid-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 100%;
    }
}
@media (max-width:400px) {
    header {
        padding:2em 1em;
        h1 {
            font-size: 2em;
        }
    }

    #study-order {
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1.2em;
        }
    }

    #what-do-we-study {
        display: none;
    }
    
    #promo-block-2 {
        display: none;
    }
}