header {
    background-color: black;
    background-image: url("../img/professional-programmer-working-late-dark-office-2.jpg");
    background-size:cover;
    background-attachment:fixed;
    color: white;
    padding:6em 1em;
    text-align: center;

    h1 {
        font-weight: normal;
        font-size: 4em;
        margin-top: 0;
    }
    span {
        font-weight: normal;
        display: block;
        font-size: 0.4em;
    }
    nav {
        ul {
            font-size: 1.2em;
            display: table;
            list-style: none;
            margin: 0 auto;

            li {
                float: left;
            }
            li::after {
                content: '|';
                padding: 0 0.3em;
            }
            li:last-child::after {
                content: '';
            }
        }
    }
}
a.freepick-link {
    color:white;
    font-size: 0.7em;
    text-decoration: none;
}

/* Homepage main */
main {
    section {
        max-width: 1200px;
        margin: 0 auto;
    }
    h2 {
        font-size: 2em;
        font-weight: normal;
        text-align: center;
    }
}

#study-order {
    article {
        max-width: 900px;
        margin: 4em auto;
        padding: 2em;
        border: solid 1px $secondary-color;
        transition: all ease-in 0.3s;

        :hover,
        :focus {
            border-color: $primary-color;
        }

        :hover .icon,
        :focus .icon {
            color: $primary-color;
        }

        :hover h3,
        :focus h3 {
            color: $primary-color;
        }
        p:last-child {
            text-align: right;
            line-height: 1.5em;
        }
    }

    .icon {
        font-size: 4em;
        color: $secondary-color;
        transition: all ease-in 0.3s;
    }

    h3 {
        font-size: 1.4em;
        font-weight: normal;
        color: $secondary-color;
        transition: all ease-in 0.3s;
    }
}