// _ui-elemens.scss
button {
    background: $primary-color;
    border: $primary-color solid 1px;
    padding: 1em;
    color: white;
    text-transform: uppercase;
    margin: 2em 1em;
    font-weight: bold;
    transition: all ease-in 0.3s;

    :hover,
    :focus,
    :active {
        background: $primary-color-focus;
        border-color: $primary-color-focus;
    }
}