
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-chart:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
